################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Logger/obj
/Logger/bin/Debug/netcoreapp3.0
/.vs/NetCore3WebAPI/FileContentIndex
/.vs/NetCore3WebAPI/v17
/.vs
