@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<form class="align-content-center">
    <div class="login">
        <input type="text" id="word" name="word" pattern="[A-Za-z]{1,}" placeholder="הזן טקס חיפוש או השאר ריק לטרנד" required>
        <br />
        <input type="button" id="search" value="חפש">
    </div>
</form>

<script type="text/javascript">

    $('#search').click(function () {

        var wordText = $("#word").val();

        $.ajax({
            url: '/Home/GetGifUrls?word=' + wordText,
            type: 'POST',
            dataType: 'json',
            data: { id: 'value' },
            success: function(data) {
                alert("success:" + data);
            },
            error: function() {
                alert('error');
            }
        });

    });

</script> 